<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        {{msg}}
        <button v-on:click="change()">alert</button>>
        <div v-if="show">展示</div>
        <div v-else>不展示</div>    
        <div v-show="show">v-show-test</div>
        <!-- 讲解v-if  v-show之间的区别:前者是逻辑层面的判定展示与否 dom结构中不加标签  后者判定不展示时会改变在dom中的display属性值 -->
        <!-- v-show 和 v-if的本质都是通过true和false来决定是否显示的 -->
        <p v-for="(index,value) in arr">{{index}}--{{value}}</p>
        <p v-for="(key,value) in obj">{{key}}--{{value}}--index</p>
        <p v-for="(index,value) in objarr">{{index}}--{{value.name}}--{{value.age}}</p>

        <button v-on:click="countadd()">+1</button>  <button v-on:click="countsub()">-1</button>
        <div>{{count}}</div>

        <div style="width: 100px;height: 100px;border: 1px solid #000;" v-bind:style="bgcolor"></div>

        <input type="text" v-model="texttext">

        <button @click="showtext()">打印</button>



        <p>  <input type="text" v-model="content"> </p>
        <ul v-for=" i  in  baiduresult">{{i}}</ul>

    </div>
    <script src="./vue.js"></script>
    <script>
        var vm = new Vue(
            {
                el:'#app',
                data:{
                    msg:"Hello vue123",
                    show:false,
                    arr:["001","002","003","004"],
                    obj:{name:"zhangsan",age:"18",sex:"male"},
                    objarr:[
                        {name:"lisi",age:"21",sex:"female"},
                        {name:"wangwu",age:"26",sex:"female"},
                        {name:"zhaoliu",age:"32",sex:"female"}

                    ],
                    count:1,
                    bgcolor:{
                        backgroundcolor:"red"
                    },
                    texttext:"input here",
                    content:"",
                    baiduresult:[1,2,3]
                },
                methods:{
                    countadd(){
                        this.count++
                    },
                    countsub(){
                        this.count--
                    },
                    showtext(){
                        console.log(this.texttext)
                    },
                    change(){
                        if(this.show==true){
                            this.show=false
                        }else{
                            this.show=true
                        }
                    },
                    
                },
                created(){
                    console.log("加载完成")
                },
                // 监听函数，将属性值直接写成函数
                watch:{
                    content(tmp){
                        console.log(tmp)
                        var path="https://sp0.baidu.com/5a1fazu8aa54nxgko9wtanf6hhy/su?wd="+this.content+"&cb=a"
                        var script = document.createElement("script")
                        script.src=path
                        document.body.appendChild(script)
                        // 直接调用方法访问链接，并在下面定义方法 获得相应的数据返回给vue实例
                    }
                }
            }
        )
        function a(tmp){
            console.log(tmp);
            vm.baiduresult=tmp.s;

            
            
            
        }
            
    </script>
</body>
</html>